<!DOCTYPE html>
<html>

<head>
    <title>Banglore Home Price Prediction | Developers | About</title>
    <link rel="shortcut icon" href="/house.ico">

    <!-- Jquery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Fontawesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="{{ url_for('static', filename = 'app.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'app.css') }}">
</head>

<body>

    <nav>
        <div class="container nav-bar">
            <a href="/" class="nav-item brand">
                <img src="{{ url_for('static', filename='logo.svg') }}" alt="logo">
            </a>
            <a href="/" class="nav-item">House Price Prediction</a>
            <a href="/about" class="nav-item">About Us</a>
        </div>
    </nav>
    <main>
        <div class="main-bg"></div>

        <div class="container">
            <h1 class="about-heading">Group 3: Developers</h1>
            <div class="developers">
                <div class="developer">
                    <div class="developer-img">
                        <img src="{{ url_for('static', filename='rittwick.jpg') }}" alt="">
                    </div>
                    <div class="developer-name">
                        <h1>Rittwick Bhabak</h1>    
                    </div>
                </div>
                <div class="developer">
                    <div class="developer-img">
                        <img src="{{ url_for('static', filename='arpan.jpg') }}" alt="">
                    </div>
                    <div class="developer-name">
                        <h1>Arpan Chowdhury</h1>    
                    </div>
                </div>
                <div class="developer">
                    <div class="developer-img">
                        <img src="{{ url_for('static', filename='sujoy.jpg') }}" alt="">
                    </div>
                    <div class="developer-name">
                        <h1>Sujoy Ghosh</h1>    
                    </div>
                </div>
                <div class="developer">
                    <div class="developer-img">
                        <img src="{{ url_for('static', filename='rayan.jpg') }}" alt="">
                    </div>
                    <div class="developer-name">
                        <h1>Rayan Chakroborty</h1>    
                    </div>
                </div>
                <div class="developer">
                    <div class="developer-img">
                        <img src="{{ url_for('static', filename='ranajit.jpg') }}" alt="">
                    </div>
                    <div class="developer-name">
                        <h1>Ranajit Dutta</h1>    
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>